/*Font Styles*/

.text-style {
    font-family: 'Amatic SC', cursive;
    color: rgb(28, 107, 91);
}

.second-font {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    list-style: none;
}

#title {
    font-size: 4rem;
    text-align: center;
    word-spacing: 20px;
}

.nav-link {
    color: rgb(28, 107, 91);
    text-decoration: none;
    font-size: xx-large;
}

.nav-link:hover {
    text-decoration: underline;
}

#email {
    font-style: italic;
    color: rgb(220, 227, 213);
    font-family: 'Roboto', sans-serif;
}


/*Structure Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.company-name {
    margin-top: 51px;
    padding-top: 20px;
    font-family: 'Amatic SC', cursive;
    color: rgb(28, 107, 91);
    font-size: xx-large;
    text-align: center;
    background-color: rgb(220, 227, 213);
}

#header {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#header-img {
    width: 90%;
}

#title {
    padding: 5px;
}

.additionalContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Amatic SC', cursive;
    color: rgb(28, 107, 91);
    font-size: xx-large;
    padding: 30px;
    background-color: rgb(220, 227, 213);
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.additionalImg {
    width: 325px;
}

#main {
    height: 100vh;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

#video-container {
    padding: 30px;
}

#video {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#locations {
    text-align: center;
    padding-top: 60px;
}

#offerings {
    text-align: center;
    padding-top: 60px;
}

#rates {
    text-align: center;
    padding-top: 60px;
}

.text-width {
    width: 50%;
    margin-left: 25%
}

#form {
    height: 300px;
    padding-top: 50px;
    padding-left: 15%;
}

#email-fieldset {
    height: 200px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

#email {
    width: 75%;
    height: 30px;
    padding: 5px;
}

#submit {
    width: 100px;
    height: 30px;
    padding: 5px;
}

@media (max-width: 400px) {
    #form {
        height: 250px;
        padding: 25px;
    }
    #email-fieldset {
        width: 320px;
        padding: 10px;
        text-align: center;
    }
    #email {
        width: 200px;
    }
}


/*Color Styles*/

#header {
    background-color: rgb(220, 227, 213);
}

#nav-bar {
    background-color: rgb(242, 235, 216);
}

#main {
    background-color: rgb(28, 107, 91);
}

#locations {
    background-color: rgb(220, 227, 213);
}

#offerings {
    background-color: rgb(220, 227, 213);
}

#rates {
    background-color: rgb(220, 227, 213);
}

#form {
    background-color: rgb(220, 227, 213);
}

#email-fieldset {
    background-color: rgb(242, 235, 216);
}